* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -mox-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 319px) {
  .jl-page-wrapper {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #1c1c1c;
    border: 30px solid #000;
  }
}

@media screen and (min-width: 320px) {
  /* ===== header ===== */

  .jl-page-wrapper, .jl-preloader {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #1c1c1c;
    border: 30px solid #000;
  }

  .jl-preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  .jl-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
  }

  .jl-logo {
    width: 75px;
    height: 110px;
    float: left;
    margin-left: 60px;
    background-color: #2ccb69;
    border-radius: 0 0 37.5px 0;
  }

  .jl-logo img {
    width: 46px;
    height: 31px;
    display: block;
    margin: 55px auto 0 auto;
  }

  jl-menu {
    display: none;
  }

  /* ==== btn contact ==== */
  .jl-contact-btn {
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: block;
    background-color: #2ccb69;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    background-image: url("../img/icon-contact-close.svg");
    background-repeat: no-repeat;
    transition: all 0.3s ease-out;
  }

  .jl-contact-info {
    width: 245px;
    height: 165px;
    padding: 25px;
    position: fixed;
    bottom: 115px;
    right: 75px;
    z-index: 200;
    display: none;
  }

  .jl-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }

  .jl-contact-info-inner p {
    font-size: 18px;
    line-height: 24px;
  }

  .jl-social-link {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .jl-corner {
    width: 25px;
    height: 25px;
    float: right;
    display: relative;
  }

  .jl-corner:after{
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    right: 0;
    bottom: -20px;
    background: transparent url('../img/corner.svg') no-repeat;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .jl-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
  }

  .jl-menu a {
    font-family: "Open Sans";
    color: #bcbcbc;
    font-size: 16px;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px 0 20px;
    position: relative;
  }

  .jl-menu a:first-child {
    margin-left: 0;
  }

  .jl-menu a:hover {
    color: #2ccb69;
  }

  .jl-menu a:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease-out;
    transform: scale(0, 1);
  }

  .jl-menu a:hover:before {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1364px) {
}

@media screen and (min-width: 1600px) {
}

/* utilitaria */
.jl-text-green {
  color: #2ccb69;
}
.jl-text-dark {
  color: #4d4c4c;
}
.jl-text-light {
  color: #bcbcbc;
}

.jl-text-black {
  color: #000;
}

.jl-bg-green {
  background-color: #2ccb69;
}
.jl-bg-dark {
  background-color: #4d4c4c;
}
.jl-bg-light {
  background-color: #bcbcbc;
}

.jl-bg-black {
  background-color: #000;
}

.jl-title {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}

.jl-mt-20 {
  margin: 20px 0 0 0;
}

/* comportamentais */
.jl-is-open {
  display: block;
}

.jl-change-ic {
  background-position-y: -45px;
}

.jl-fade-out {
  animation: fadeOut 4s forwards ease-out;
}